
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>$!appConstantsUtil.getProductName()—注册</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<link href="/styles/global.css" rel="stylesheet">
</head>
<body class="f-bgGray">
<!--head-->
<div class="m-hd">
  <div class="l-ct">用户注册</div>
</div>
<!--head-->

<!--body-->
<div class="l-ct f-mt20">
  
  <!--form-->
  <div class="m-form">
    <form action="/app/preRegist.htm" id="pre_regist_form">
      <!--function-->
	  <input type="hidden" name="referees" value="$!{referees}"/>
	  #if($!{registResult}==0)
		<p style="font-size:14px;">注册失败：<span style="color:red;font-size:14px;">$!{message}</span> </p>
      <div class="f-mt20">
        <a href="javascript:;" class="u-btn2 org2 full2 submit">重新注册</a>
      </div>
	  #else
		<span style="color:red;font-size:18px;text-align:center;">恭喜你！注册成功。</span>
		<div class="f-mt20">
        <a href="$!{activeYjfPwdUrl}" class="u-btn2 org2 full2">激活资金账户</a>
      </div>
	  #end
      <!--function End-->

    </form>
  </div>
  <!--form End-->

</div>
<!--body End-->
 <script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'preRegist');
    </script>   
</body>
</html>