<!DOCTYPE HTML>
<html>
<head>
    <meta content="text/html" charset="UTF-8">
    <title>会员中心-投资的项目</title>
    <base href="$!{rc.contextPath}/"/>
    <link type="text/css" href="resources/mjr/css/common.css" rel="stylesheet"/>
    <link type="text/css" href="resources/mjr/css/global.css" rel="stylesheet"/>
    <script type="text/javascript" src="resources/mjr/js/jquery-1.11.2.min.js"></script>
    <script src="resources/mjr/js/kkpager.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="resources/mjr/js/laydate.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="usercenter">
<!--头部-->
    #parse("/front/index/common/header-mjr.vm")
<div class="md-showcase">
    <div class="md-sc-static"></div>
</div>
<div class="md-module">
    <div class="md-default-c pc-width padding-fix clearf">
        <div class="u-c clearf">
            #parse("/front/common/user-menu-top.vm")
            <div class="menu grid">
                #parse("/front/common/user-menu.vm")
            </div>
            <div class="context grid">
                <h4>还款管理</h4>

                <div class="table-simple">
                    <ul class="table-title toggletab">
                        <li class="table-title-key on" id="pb1">待还款明细</li>
                        <li class="table-title-key" id="pb2">已还款明细</li>
                    </ul>
                    <div class="table-context">
                        <div class="invest-c clearf">
                            <ul class="handle nav">
                                <li>
                                    <label for="timebagin" class="input-text-default">起始时间：
                                        <input type="text" name="startDate" value="" id="time-bagin"
                                               class="date laydate-icon" placeholder=""/>-
                                        <input type="text" name="endDate" value="" id="time-end"
                                               class="date laydate-icon" placeholder=""/>
                                    </label>
                                </li>
                                <li>
                                    <select id="interval">
                                        <option value="all">全部</option>
                                        <option value="one">未来一个月</option>
                                        <option value="three">未来三个月</option>
                                        <option value="year">未来一年</option>
                                    </select>
                                </li>
                                <li><a href="javascript:;" class="flat-full f-r" id="pbdata">点击查询</a></li>
                            </ul>
                        </div>
                        <p>共：<span class=" blue" id="count">$!{count}</span> 笔，还款金额：<span class="blue"
                                                                                          id="amount">$!{moneyUtil.getFormatAmount($!moneyUtil.parseLong(
                            "$!amount"))}</span>元，本金：<span
                                class="blue" id="principal">$!{moneyUtil.getFormatAmount($!moneyUtil.parseLong(
                            "$!principal"))}</span>元，利息：<span
                                class="blue" id="income">$!{moneyUtil.getFormatAmount($!moneyUtil.parseLong(
                            "$!income"))}</span>元</p>

                        <div data-page="pb1" style="display:block">
                            <table class="table-style01 line width-100">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                    <th>预还款时间</th>
                                    <th>还款方式</th>
                                    <th>还款总金额(元)</th>
                                    <th>应还本金(元)</th>
                                    <th>应还利息(元)</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div data-page="pb2">
                            <table class="table-style01 line width-100">
                                <thead>
                                <tr>
                                    <th>项目名称</th>
                                    <th>还款时间</th>
                                    <th>还款总金额(元)</th>
                                    <th>应还本金(元)</th>
                                    <th>收益(元)</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="pages">
                            <div id="kkpager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    #parse("/front/index/common/footer-mjr.vm")
<script type="text/javascript">
    var $_GLOBAL =
    {
    }
    ,
    repayManage;
        $_GLOBAL.pageData= {
        url: '/userManage/mjr/repayManage',
        pageNo: 1,
        pageSize: 10,
    };
        $_GLOBAL.pageOption= {
        pno: 1,
    total:#if(${total}) $total #else 0#end ,
    totalRecords:#if(${totalRecords}) ${totalRecords} #else 0#end,
        mode 				: 'click',			//默认值是link，可选link或者click
        isShowFirstPageBtn	: false,
        isShowLastPageBtn	: false,
        isShowTotalPage 	: false,
        isShowCurrPage		: false,
        isShowTotalRecords 	: false,
        isGoPage 			: false
    }
</script>

<script type="text/javascript" src="resources/js/lib/sea.js"></script>
<script type="text/javascript">
    seajs.use($_GLOBAL.mode +'index_invest_detail');
    seajs.use($_GLOBAL.mode +'userHome');
    seajs.use($_GLOBAL.mode +'repayManage', function (a) {
        repayManage = a;

        seajs.use('/resources/mjr/js/run');
    });

</script>

#*<script type="text/javascript" charset="utf-8">
    var e = $(".toggletab li");
    $.each(e, function(index, el) {
        $(el).on('click', function(){
            var c = this.id;
            $(e).hasClass("on")?$(e).removeClass("on"):false;
            $(el).addClass("on");
            $("[data-page]").each(function(){
                $(this).css("display") != "none" ? $(this).css({display:"none"}) : true;
                $(this).attr("data-page") == c ? $(this).css({display:"block"}) : true;
            });
        })
    })
</script>*#
</body>
</html>