<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="UTF-8"/>
            <title>账户首页</title>
        <base href="$!{rc.contextPath}/"/>
        <link type="text/css" href="resources/mjr/css/common.css" rel="stylesheet"/>
        <link type="text/css" href="resources/mjr/css/global.css" rel="stylesheet"/>
        <script type="text/javascript" src="resources/mjr/js/jquery-1.11.2.min.js"></script>
        <script src="resources/mjr/js/laydate.js" type="text/javascript" charset="utf-8"></script>
        <script src="resources/mjr/js/kkpager.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
<body >
    <!--头部-->
    #parse("/front/index/common/header-mjr.vm")

    <div class="md-showcase">
        <div class="md-sc-static"></div>
    </div>
    <div class="md-module">
        <div class="md-default-c pc-width padding-fix clearf">
            <div class="u-c clearf">
                #parse("/front/common/user-menu-top.vm")
                <div class="menu grid">
                    #parse("/front/common/user-menu.vm")
                </div>
                <div class="context grid">

                    <h4>账户设置</h4>
                    <span class="sub-title invest">可用余额  ￥$!{yjfAccountInfo.availableBalance.toStandardString()}  <a href="/userManage/topUp/withholdingIndex" title="">充值</a></span>

                    <div class="table-context set">
                        <div class="width-20 f-l t-c-i">
                            <p class="title">我的账号</p>

                            <p>
                                <span class="t-t">用户名</span>
                                <span class="t-time">$!{userBaseInfo.userName}(编号：$!{userRelationInfo.memberNo})</span>
                            </p>

                            <p>
                                <span class="t-t">登录密码</span>
                                <span class="t-time">**********</span>
                                <span><a href="#" class="flat-simple">修改密码</a></span> ##增加链接
                            </p>

                            <p>
                                <span class="t-t">支付密码</span>
                                <span class="t-time">**********</span>
                                <span><a href="$!{modifyPayPwdUrl}" class="flat-simple">修改密码</a></span>  ##增加链接
                            </p>

                            <p>
                                <span class="t-t">注册时间</span>
                                <span class="t-time">$!yrdDateUtil.simpleFormatYmdhms($!{userBaseInfo.rowAddTime})</span>
                            </p>
                        </div>
                    </div>
                    <div class="info-set clearf">

                        #if($!userBaseInfo.type=='GR')

                            <div class="table-context f-l f-1">
                                <div class="width-20 t-c-i">
                                    <p class="title">实名认证</p>
                                    #if($!{userBaseInfo.realNameAuthentication})
                                        #if("IS" == $!{userBaseInfo.realNameAuthentication})

                                            <p>
                                                <span class="t-t">真实姓名</span>
                                                <span class="t-time">$!{userBaseInfo.realName}</span>
                                            </p>

                                            <p>
                                                <span class="t-t">身份证号码</span>
                                                <span class="t-time">$!{info.certNo}</span>
                                            </p>

                                            <p>
                                                <span class="t-t">认证状态</span>
                                                <span class="t-time">已认证</span>
                                            </p>
                                        #elseif("NO" == $!{userBaseInfo.realNameAuthentication})
                                            <p>
                                                <span class="t-t">真实姓名</span>
                                                <span class="t-time">$!{userBaseInfo.realName}</span>
                                            </p>

                                            <p>
                                                <span class="t-t">身份证号码</span>
                                                <span class="t-time">$!{info.certNo}</span>
                                            </p>

                                            <p>
                                                <span class="t-t">认证状态</span>
                                                <span class="t-time">认证未通过</span><a href="/userManage/userRealNameInfo">重新认证</a>
                                            </p>
                                        #elseif("IN" == $!{userBaseInfo.realNameAuthentication})
                                            <p>
                                                <span class="t-t">真实姓名</span>
                                                <span class="t-time">$!{userBaseInfo.realName}</span>
                                            </p>

                                            <p>
                                                <span class="t-t">身份证号码</span>
                                                <span class="t-time">$!{info.certNo}</span>
                                            </p>

                                            <p>
                                                <span class="t-t">认证状态</span>
                                                <span class="t-time">认证中</span>
                                            </p>
                                        #end
                                    #else
                                        <p>
                                            <span class="t-t">真实姓名</span>
                                            <span class="t-time">$!{userBaseInfo.realName}</span>
                                        </p>

                                        <p>
                                            <span class="t-t">身份证号码</span>
                                            <span class="t-time">&nbsp;</span>
                                        </p>

                                        <p>
                                            <span class="t-t">认证状态</span>
                                            <span class="t-time">未认证</span><a
                                                href="/userManage/userRealNameInfo">马上认证</a>
                                        </p>
                                    #end
                                </div>
                            </div>
                        #end
                        #if($!userBaseInfo.type=='JG')

                            <div class="table-context f-l f-1">
                                <div class="width-20 t-c-i">
                                    <p class="title">实名认证</p>

                                    <p>
                                        <span class="t-t">公司名称</span>
                                        <span class="t-time">$!{userBaseInfo.realName}(机构代码：$!{info.getOrganizationCode()})</span>
                                    </p>

                                    <p>
                                        <span class="t-t">公司地址</span>
                                        <span class="t-time">$!info.commonlyUsedAddress</span>
                                    </p>

                                    <p>
                                        <span class="t-t">法人名称</span>
                                        <span class="t-time">$!info.legalRepresentativeName</span>
                                    </p>
                                </div>
                            </div>
                        #end
                        <div class="table-context f-l f-2">
                            <div class="width-20 t-c-i">
                                <p class="title">第三方支付账户</p>

                                <p>
                                    <span class="t-t">支付账号</span>
                                    <span class="t-time">$!userBaseInfo.accountName</span>
                                </p>

                                <p>
                                    <span class="t-t">开通状态</span>
                                <span class="t-time">#if($!{yjfAccountInfo.userStatus.code}=='W')<span
                                        class="a-icon">未激活</span><a href="/anon/activeYjfAccount"
                                                                    class="g-recharge ml5 mr5"
                                                                    style="width:60px">立即激活</a>#else<span
                                        class="a-icon">已开通</span>#end </span>
                                </p>

                                <p>
                                    <span><a href="#" class="flat-full">登录第三方支付账户</a></span> ##增加链接
                                </p>
                            </div>
                        </div>
                        <div class="table-context f-l f-3">
                            <div class="width-20 t-c-i">
                                <p class="title">联系方式</p>

                                <p>
                                    <span class="t-t">绑定手机</span>
                                <span class="t-time"><b>$!{mobile}</b>#if($!{mobile}=="暂无")<a href="javascript:;"
                                        ><span>绑定手机</span></a>#else
                                    <a href="javascript:;" ><span>修改</span></a>#end</span>      ##增加链接
                                </p>

                                <p>
                                    <span class="t-t">绑定邮箱</span>
                                <span class="t-time">$!{mail}<a href="javascript:;" class="bound_updateMail"><span> #if($!{mail} ==
                                    "暂无")绑定邮箱  #else 修改邮箱 #end</span></a></span>        ##增加链接
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    #parse("/front/index/common/footer-mjr.vm")
    <script type="text/javascript">
        var $_GLOBAL = {};
    </script>
    <script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/zeroclipboard/jquery.zclip.js"></script>
    <script type="text/javascript" src="/resources/js/lib/sea.js"></script>
    <script type="text/javascript">
        seajs.use($_GLOBAL.mode + 'userHome');
        //var int=self.setInterval("refreshTime()",1000);
        function refreshTime(){
        var myDate = new Date();
        if(!document.getElementById("curTime")) {
        clearInterval(int);
        }
        document.getElementById("curTime").innerHTML= "当前时间："+myDate.toLocaleString();   //获取日期与时间
        }
    </script>

</body>
</html>
