<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户管理-机构人员管理</title>
	<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
</head>
<style type="text/css">
    .uploadify {
	    display: inline-block
	}
</style>
<body>
	<div class="warp">
		<!--头部-->
		#parse("/backstage/layout/logo.vm")
		<!--内容-->
		<div class="container fn-clear">
			#parse("/backstage/layout/left.vm")
			<div class="main-content fn-right">
				<div class="mc">
					<div class="top">
						<p><a href="javascript:;">开户管理</a> > 机构用户管理</p>
					</div>
					<div class="search fn-clear">
						<form action="/backstage/userManage/institutions"  method="get" id="institutions_form" >
							<dl>
								<dt>机构类型：</dt>
								<dd>
    							<div class="jqtransform jqtransform-select3">
    								<select name="roleId" id="">
										<option value="0"  #if($!{roleId}=="0") selected="selected" #end >&nbsp;&nbsp;---全部---</option>
										<option value="8"  #if($!{roleId}=="8") selected="selected" #end >承诺机构</option>
										<option value="9"  #if($!{roleId}=="9") selected="selected" #end>保荐机构</option>
    									<option value="10" #if($!{roleId}=="10") selected="selected" #end>营销机构</option>
    								</select>
    							</div>
								</dd>
							</dl>
							<dl>
								<dt>企业名称：</dt>
								<dd><input type="text" class="u-input w235"  maxlength="50" name="enterpriseName" value="$!{enterpriseName}"/></dd>
							</dl>
							<a href="javascript:;" class="s-btn mr5 submit_form">搜索</a>
							<div style='float:left'>
							<input type="file" class="upload" id="upload_file" />
    						</div>
                            <div id="status-window" style="display:none;width:300px;" title="div层状态显示overlay">
    						</div>
						</form>
					</div>
					<div class="t-box">
						<div class="p-box pages-t fn-clear">
							#set($p = $permission.check('/backstage/userManage/institutionManage/addInstitutionsUser'))
							#if($p > 0)
							<a href="/backstage/userManage/institutionManage/addInstitutionsUser" class="p-btn addUser">创建机构用户</a>
							#end
							#parse("/backstage/page/page.vm")
						</div>
						
						<table class="m-table">
							<tr>
								<th width="150">机构ID</th>
								<th width="150">用户名</th>
								<th width="150">企业名称</th>
								<th width="150">机构简码</th>
								<th width="150">创建时间</th>
								<th width="100">状态</th>
								<th class="text-r">操作</th>
							</tr>
						#if($page.result.size()==0)
            				<tr class="even">
                				<td colspan=7 align=center>暂时没有机构用户记录</td>
                			</tr>
						#end
						#set($t = $permission.check('/backstage/userManage/institution/addMember'))
						#foreach($info in $page.result)
							<tr>
								<td>$!{info.userBaseId}</td>
								<td>$!{info.userName}</td>
								<td>$!{info.realName}</td>
								<td>$!{info.identityName}</td>
								<td>$!dateUtil.simpleFormat($!{info.rowAddTime})</td>
								<td class="red">$!{info.state.message}</td>
							<td class="text-r">
									<a href="/backstage/userManage/institutions/institutionsMember?userId=$!{info.userId}">查看成员</a>
									##<span class="line">|</span><a href="/backstage/addPersonalUser?parentId=$!{info.userId}">添加成员</a>
									#if($t> 0)
									<span class="line">|</span><a href="javascript:;" t="$!{info.userId}" class="addMember">添加成员</a>
									#end
								</td>
							</tr>
						#end
						</table>
						<input type="hidden" value="JG" data="userType"/>
						<div class="p-box pages-b fn-clear">
							#set($p = $permission.check('/backstage/userManage/institutionManage/addInstitutionsUser'))
							#if($p > 0)
							<a href="/backstage/userManage/institutionManage/addInstitutionsUser" class="p-btn addUser">创建机构用户</a>
							#end
							#parse("/backstage/page/page.vm")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<!--定制发布-->
	<div class="m-layer m-layer-pub" id="addMember" style="width:390px;display:none;">
		<div class="title">
			<h2>添加成员</h2>
		</div>
		<form action="/backstage/userManage/institution/addMember" id="addMember_form">
		<div class="cont">
			<ul>
				<li><label>用户名：</label><input type="text" name="memberUserName" id="memberUserName" class="u-input w170 " /></li>
				<li><label>真实名：</label><input type="text" name="memberRealName" id="memberRealName" class="u-input w170 " /></li>
				<!--<li><label>&nbsp;&nbsp;&nbsp;编码：</label><input type="text" name="code" id="code" class="u-input w170 "/></li>-->
				<input type="hidden" name="parentId"/>
			</ul>
			<div class="l-btn">
				<input type="hidden" name="demandId" />
				<a href="javascript:;" class="u-btn u-btn-blue addMemberSubmit">确认</a><a href="javascript:;" class="u-btn u-btn-gray cancel">关闭</a>
			</div>
		</div>
		</form>
	</div>
	
	
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript" src="/resources/js/plugins/jquery.uploadify.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'institutions');
		function toPage(totalPage, pageNo){
    		if(totalPage<pageNo){
    			return false;
    		}
			var url = "/backstage/userManage/institutions"
			+"?roleId=$!{roleId}"
			+"&enterpriseName=$!{enterpriseName}"
			+"&pageSize=$!{page.pageSize}&pageNo="+pageNo;
			window.location.href=url;
		}
    </script>
</body>
</html>