<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>交易管理-交易查询</title>
	<link type="text/css" href="$!{rc.contextPath}/resources/css/after.css" rel="stylesheet" />
</head>
<body>
	<div class="warp">
		<!--头部-->
		#parse("/backstage/layout/logo.vm")
		<!--内容-->
		<div class="container fn-clear">
			#parse("/backstage/layout/left.vm")
			<div class="main-content fn-right">
				<div class="mc">
					<div class="top">
						<p><a href="">交易管理</a> > 交易流水 -> 投资还款转账流水</p>
					</div>
					<div class="search fn-clear">
						<form action="$!{rc.contextPath}/trade/tradeFlow/$!{trade.id}" method="post" name="frm">
							<dl>
								<dt>付款方用户名：</dt>
								<dd><input type="text" class="u-input w120" name="payUserName" value="$!{request.getParameter('payUserName')}"/></dd>
							</dl>
							<dl>
								<dt>收款方用户名：</dt>
								<dd><input type="text" class="u-input w120" name="receiveUserName" value="$!{request.getParameter('receiveUserName')}"/></dd>
							</dl>
							<dl>
								<dt>时间区间：</dt>
								<dd><input type="date" class="u-input w90" name="startDate" value="$!{request.getParameter('startDate')}"/> - <input type="date" class="u-input w90" name="endDate" value="$!{request.getParameter('endDate')}"/></dd>
							</dl>
							<dl>
								<dt>付款方真实姓名：</dt>
								<dd><input type="text" class="u-input w120" name="payRealName" value="$!{request.getParameter('payRealName')}"/></dd>
							</dl>
							<dl>
								<dt>收款方真实姓名：</dt>
								<dd><input type="text" class="u-input w120" name="receiveRealName" value="$!{request.getParameter('receiveRealName')}"/></dd>
							</dl>
							<a href="javascript:void(0);" class="s-btn">搜索</a>
						</form>
					</div>
					<div class="t-box">
						<div class="p-box pages-t fn-clear">
							<a href="$!{rc.contextPath}/backstage/trade/tradeDivisionFlow/$!{trade.tradeId}" class="p-btn">分润转账流水</a>
							#parse("/backstage/page/page.vm")
						</div>
						<table class="m-table">
							<tr>
								<th width="130">交易流水号</th>
								<th width="120">交易名称</th>
								<th width="120">交易类型</th>
								<th width="120">付款方</th>
								<th width="120">收款方</th>
								<th width="120">付款金额(元)</th>
                                <th width="120">交易状态</th>
								<th width="150">备注</th>
								<th width="120">创建时间</th>
								<th width="120">付款时间</th>
								<th width="120">结束时间</th>
								<th width="120">操作</th>
								<th class="text-r"></th>
							</tr>
							#if($!page.result.size()==0)
                				<tr class="even">
                    				<td colspan=6 align=center>暂时没有流水记录</td>
                    			</tr>
            				#end
							#foreach($item in $!page.result)
							<tr>
								<td>$!{item.flowCode}</td>
								<td>$!{trade.tradeName}</td>
								<td>$!{item.amountFlowType.message}</td>
								<td>$!{item.outUserName}</td>
								<td>$!{item.inUserName}</td>
								<td>￥$!{item.amount.toStandardString()}</td>
                                <td>#if($!{item.status})转账成功 #else 转账失败 #end</td>
								<td>$!{item.note}</td>
								<td>$!{dateUtil.simpleFormat($!{trade.tradeCreateDate})}</td>
								<td>$!{dateUtil.simpleFormat($!{item.rawAddTime})}</td>
								<td>$!{dateUtil.simpleFormat($!{trade.investFinishDate})}</td>
								<td><a href="$!{rc.contextPath}/backstage/trade/tradeFlowInfo/$!{trade.tradeId}?flowCode=$!{item.flowCode}&flowType=$!{item.flowType}&type=$!{item.type}&outUserName=$!{item.outUserName}&inUserName=$!{item.inUserName}&amount=$!{item.amount}&status=$!{item.status}&note=$!{item.note}&payDate=$!{dateUtil.simpleFormat($!{item.rawAddTime})}&tradeCreateDate=$!{item.tradeCreateDate}&tradeFinishDate=$!{trade.investFinishDate}&tradeType=$!{item.amountFlowType.message}&tradeName=$!{trade.tradeName}">详情</a></td>
								<td class="text-r"></td>
							</tr>
							#end
						</table>
						<div class="p-box pages-t fn-clear">
							<a href="$!{rc.contextPath}/backstage/trade/tradeDivisionFlow/$!{trade.tradeId}" class="p-btn">分润转账流水</a>
							#parse("/backstage/page/page.vm")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="$!{rc.contextPath}/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="$!{rc.contextPath}/resources/js/plugins/jquery.window.js"></script>
	<script type="text/javascript" src="$!{rc.contextPath}/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'demo');
    </script>
	<script type="text/javascript">
		
		$('.s-btn').click(function (){
			toPage($!{page.totalPageCount}, $!{page.currentPageNo});
		});
		
		
		function toPage(totalPage, curr){
		    if(isNaN(curr)){ return; }
		    if(curr < 1){ return ;}
			if(curr > totalPage){ return ;}
			$('form[name=frm]').attr('action', '$!{rc.contextPath}/backstage/trade/tradeFlow/$!{trade.tradeId}?pageSize=$!{page.pageSize}&pageNo=' + curr);
			document.frm.submit();
		}
    </script>
</body>
</html>





