<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>设置审核密码</title>
	<link type="text/css" href="/resources/css/loan.css" rel="stylesheet" />
</head>
<body class="warp">
	#parse("/front/index/common/header.vm")
	<!--内容-->
	<div class="container fn-clear">
		<!--左侧导航-->
		#parse("/front/user/common/left.vm")
		<!--右侧内容-->
		<div class="main-content mc-border fn-right">
			<h3 class="con-title">设置/修改审核密码 </h3>
			<div class="fn-y-tip">
				<em></em>
				<div class="fn-y-con">
					<p>&middot;定期更换密码可以让您的账户更加安全。</p>
					<p>&middot;请确保两级审核密码不同！</p>
					<p>&middot;建议密码采用字母和数字混合，并且不短于6位。</p>
				</div>
			</div>
			##style="display:none;"
			<div id="authPwdLeveOne">
					<h3 class="con-title">一级审核密码：#if($!{alreadySetOne})已设置<a href="javascript:;" id="modifyOne"  class="onli ml10">我要修改</a>#else未设置#end</h3>
			</div>
			<div id="authPwdLeveOneContainer" #if($!{alreadySetOne})style="display:none;"#end>
				<form action="/guaranteeCenter/authPasswordSubmit" class="price-active" method="post" id="password_form_one">
    				<fieldset class="border-b fn-mb20" style="margin-top:10px;">
        				#if($!{alreadySetOne})
    						<div class="fn-item">
        					<label class="fn-label"><span class="required">*</span>旧一级审核密码：</label>
        					<input type="password" id="passwordOne" class="fn-text w170" name="password"/><a id="forgotLvOne" href='javascript:;'> 忘记一级审核密码？ </a>
							<b id="passwordEone" class="error-tip"></b>
        				</div>
    					#end
        				<div class="fn-item">
        					<label class="fn-label"><span class="required">*</span>#if($!{alreadySetOne})新#end一级审核密码：</label>
        					<input type="password" class="fn-text w170" name="newPassword" id="newPassword"/>
        				</div>
        				<div class="fn-item">
        					<label class="fn-label"><span class="required">*</span>确认#if($!{alreadySetOne})新#end密码：</label>
        					<input type="password" id="pwd1btn" class="fn-text w170" name="newPasswordTo" />
        				</div>
						<div class="fn-item">
							<input type="hidden"   class="fn-text w170" name="isSetOne" value="$!{alreadySetOne}"/>
        					<input type="hidden"   class="fn-text w170" name="type" value="lvOne"/>
							<input type="hidden" id="checkHaveSetOne" name="isSet"  class="fn-text w170" name="type" value="$!{alreadySetOne}"/>
        					<a href="javascript:;" class="fn-g-btn fn-mr5"><button type="submit">保存</button></a>
        				</div>
                    </fieldset>
    				
    			</form>
            </div>
			<div id="authPwdLeveTwo">
				<h3 class="con-title">二级审核密码：#if($!{alreadySetTwo})已设置 <a href="javascript:;" id="modifyTwo"  class="onli ml10">我要修改</a>#else未设置#end</h3>
            </div>
			<div id="authPwdLeveTwoContainer" #if($!{alreadySetTwo})style="display:none;"#end>
				<form action="/guaranteeCenter/authPasswordSubmit" class="price-active" method="post" id="password_form_two">
    				<fieldset class="border-b fn-mb20" style="margin-top:10px;">
        				#if($!{alreadySetTwo})
    						<div class="fn-item">
        					<label class="fn-label"><span class="required">*</span>旧二级审核密码：</label>
        					<input type="password" id="passwordTwo" class="fn-text w170" name="password"/><a id="forgotLvTwo" href='javascript:;'> 忘记二级审核密码？ </a>
							<b id="passwordEtwo" class="error-tip"></b>
        				</div>
    					#end
        				<div class="fn-item">
        					<label class="fn-label"><span class="required">*</span>#if($!{alreadySetTwo})新#end二级审核密码：</label>
        					<input type="password" class="fn-text w170" name="newPassword2" id="newPassword2"/>
        				</div>
        				<div class="fn-item">
        					<label class="fn-label"><span class="required">*</span>确认#if($!{alreadySetTwo})新#end密码：</label>
        					<input type="password" class="fn-text w170" name="newPasswordTo2" />
        				</div>
						<div class="fn-item">
							<input type="hidden"   class="fn-text w170" name="isSetTwo" value="$!{alreadySetTwo}"/>
        					<input type="hidden"   class="fn-text w170" name="type" value="lvTwo"/>
							<input type="hidden" id="checkHaveSetTwo" name="isSet" class="fn-text w170" name="type" value="$!{alreadySetTwo}"/>
        					<a href="javascript:;" id="pwd2btn" class="fn-g-btn fn-mr5"><button type="submit">保存</button></a>
        				</div>
                    </fieldset>
    			</form>
            </div>
			<div id="payPasswordCheckContainer" style="display:none;">
    				<form action="" method="post" class="border-b price-active" id="payPasswrdChecking_form">
        				<fieldset class="border-b fn-mb20">
							<div class="fn-item" id="passwordDiv">
        						<label class="fn-label"><span class="required">*</span>支付密码：</label>
        						 <div id="flexContent"></div><input type="hidden" name="payPassword" id="payPassword" /><!--<a href="javascript:;">忘记支付密码?</a>-->
								<br /><b id="pay-password-messge" class="error-tip" for="payPassword" generated="false"></b>
        					</div>
        				</fieldset>
        				<div class="fn-item">
							<input type="hidden"  id="resetObject" class="fn-text w170" name="resetObject"/>
        					<a href="javascript:;" id="confirm_pay" class="fn-g-btn mr5"><span>确认</span></a>
        					<a href="/guaranteeCenter/anthPasswordPage" class="fn-h-btn"><span>返回上一步</span></a>
        				</div>
        			</form>
			</div>
	</div>
   </div>
	#parse("/front/index/common/footer.vm")
    <script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
		<script type="text/javascript" src="/resources/js/comp/swfobject.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'guaranteeAuthPwd');
    </script>
</body>
</html>