<html >
	<head >
		<title >
			添加权限
        </title>
		<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
		<link type="text/css" href="/resources/js/jqzoom_ev-2.3/css/jquery.jqzoom.css" rel="stylesheet" />
    </head>
	<body >
		<div class="warp">
		<!--头部-->
		#parse("/backstage/layout/logo.vm")
		<!--内容-->
		<div class="container fn-clear">
			#parse("/backstage/layout/left.vm")	
			<div class="main-content fn-right">
				<div class="mc">
					<div class="top">
						<p><a href="javascript:;"  >权限管理</a> > #if($!{type}=='modify') 修改#else添加#end权限</p>
					</div>
                     <form #if($!{type}=='modify') action="$!{rc.contextPath}/backstage/authority/modifyPermission" #else action="$!{rc.contextPath}/backstage/authority/addPermission" #end method="post" name="frm">
                		<fieldset>
							<legend><h3>#if($!{type}=='modify') 修改#else添加#end权限信息</h3></legend>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>权限代码：</label>
								<input type="text" class="u-input w170" name="code" value="$!{item.code}"/>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>权限名称：</label>
								<input type="text" class="u-input w170" name="name" value="$!{item.name}"/>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span> 操&nbsp;&nbsp;&nbsp;作：</label>
								<input type="text" class="u-input w170"  name="operate" value="$!{item.operate}""/>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span> 回执操作：</label>
								<input type="text" class="u-input w170" name="backOperate" value="$!{item.backOperate}"/>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span> 备&nbsp;&nbsp;&nbsp;注：</label>
								<input type="text" class="u-input w170" name="note" value="$!{item.note}"/>
							</div>
						  #if($!{type}=='modify') 
								<input type="hidden" name="id" value="$!{item.id}"/>
							#end
                		 <input type="hidden" name="redirect" value="${request.getParameter('redirect')}"/>
						 </fieldset>
						 <div class="item">
							 <a class="u-btn u-btn-blue submit_form" href="javascript:addPermission();" >提交</a>
                         </div>
                     </form>
	         </div>
            </div>
	  </div>
   </div>
   <script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	 <script type="text/javascript">
	 function addPermission(){
	   var code = $('input[name=code]').val();
	   if(code == null || code.length < 1){
	   	alert("权限代码不能为空");
	    return ;
	   }
	    var name = $('input[name=name]').val();
	   if(name == null || name.length < 1){
	   	alert("权限名称不能为空");
	    return ;
	   }
	    var operate = $('input[name=operate]').val();
	   if(operate == null || operate.length < 1){
	   	alert("操作不能为空");
	    return ;
	   }
	    var backOperate = $('input[name=backOperate]').val();
	   if(backOperate == null || backOperate.length < 1){
	   	alert("回执操作不能为空");
	    return ;
	   }
	   document.frm.submit();
	 }
     </script>
    </body>
</html>