<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>邮件模板</title>
</head>
<body style="background:#fff; font-size:12px; color:#666; font-weight:normal; font-family:'宋体',Verdana; padding:0; margin:0;">
	<table width="730" cellpadding="0" cellspacing="0" border="0" style="margin:0 auto; padding:0; background:url($!{rc.contextPath}/resources/images/home/body-bg.jpg) repeat; font-family:'宋体',Verdana;">
		<tr>
			<td>
				<div style="width:730px; height:83px; margin:0 auto; background:url($!{rc.contextPath}/resources/images/home/header-bg.jpg) repeat-x;">					
					<a href="#" target="_blank" style="display:block; padding:18px 0 0 23px;"><img src="$!{rc.contextPath}/resources/images/common/logo.jpg" border="0" alt="$!appConstantsUtil.getProductName()金融" /></a>							
				</div>
				<div style="width:730px; margin:0 auto; padding:25px 0; color:#333; font-family:'微软雅黑','宋体';">
					<p style="margin:0 0 10px; padding:0 0 0 40px; font-size:14px;">尊敬的会员：<a href="#" style="color:#a60000; text-decoration:none;" target="_blank">谭彪</a> 你好！</p>
					<p style="margin:0 0 10px; padding:0 0 0 40px;">恭喜，您已经成功注册了$!appConstantsUtil.getProductName()金融账户，请您妥善保管好账户信息，以免给您带来不必要的损失！</p>
					<p style="margin:0; padding:0 0 0 40px;"><a href="#" target="_blank" style="display:block; width:157px; height:36px; line-height:36px; text-align:center; background:url($!{rc.contextPath}/resources/images/common/email-btn.gif) no-repeat; font-size:14px; color:#fff; text-decoration:none;">登录帐户</a></p>
					<p style="margin:130px 0 0; padding:0 0 0 40px;">如果上述文字点击无效，请把下面网页地址复制到浏览器地址栏中打开：<br />http://XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
				</div>
				<div style="width:730px; height:98px; margin:0 auto; color:#999; background:#e3e3e3 url($!{rc.contextPath}/resources/images/home/footer-bg.jpg) repeat-x;">
					<p style="padding:25px 0 25px 40px; margin:0; line-height:18px;">此为系统邮件，请勿回复<br />请保管好您的邮箱，避免易极付账户被他人盗用<br />如由任何疑问，可致电易结汇服务热线：023-88505858</p>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>