<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>活动管理 > 营销管理</title>
	<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
</head>
<body>
	<div class="warp">
		<!--头部-->
		#parse("/backstage/layout/logo.vm")
		<!--内容-->
		<div class="container fn-clear">
			#parse("/backstage/layout/left.vm")
			<div class="main-content fn-right">
				<div class="mc">
					<div class="top">
						<p><a href="/backstage/lottery/activityList">活动管理</a> > 营销管理</p>
					</div>
					<div class="search fn-clear">
						<form action="/backstage/lottery/activityList"  method="post" >
							<dl style="width:250px;">
								<dt>名称：</dt>
								<dd><input type="text" class="u-input" name="name" value="$!{queryConditions.name}"/></dd>
							</dl>
                                           <button type="submit" class="s-btn">搜索</button>
						</form>
					</div>
					<div class="t-box">
						<div class="p-box pages-t fn-clear">
							<a href="/backstage/lottery/addActivity" class="p-btn">新建活动</a>
							#parse("/backstage/page/page.vm")
						</div>
						<table class="m-table">
							<tr>
                                <th>活动名称</th>
                                <th>类型</th>
                                <th>活动时间</th>
                                <th>人数</th>

                                <th>活动状态</th>
								<th>操作</th>
							</tr>
							#if($page.result.size()==0)
                				<tr class="even">
                					<td colspan=8 align=center>暂时没有活动</td>
                				</tr>
							#end
							#foreach($info in $page.result)
							<tr>
                                <td><a href="/backstage/lottery/updateActivity?activityId=$!{info.id}">$!{info.name}</a></td>
                                <td>$!{info.lotteryType.message()}</td>
                                <td>$!dateUtil.simpleFormat($!{info.startTime})-$!dateUtil.simpleFormat($!{info.endTime})</td>
                                <td>$!{info.peopleNum}</td>

                                <td>$!{info.status.message}</td>
                                <td>
                                    #if($!{info.status} =='STOP')
                                        <a href="#"  status="NORMAL" giftId="$!{info.giftId}"  class="status">启用</a>  |
                                    #end

                                    #if($!{info.status} =='NORMAL')
                                        <a href="#"  status="GAMEOVER" giftId="$!{info.giftId}"  class="status">结束活动</a>  |
                                    #end
                                <a href="/backstage/lottery/updateActivity?activityId=$!{info.id}">详情</a>
							</tr>
							#end
						</table>
						<div class="p-box pages-b fn-clear">
							<a href="/backstage/lottery/addActivity" class="p-btn">新建活动</a>
            				#parse("/backstage/page/page.vm")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
        seajs.use($_GLOBAL.mode + 'pageQueryGiftMoneyInfo');

		function toPage(totalPage, pageNo){
    		if(totalPage<pageNo){
    			return false;
    		}
			var url = "/backstage/lottery/activityList"
			+"?giftName=$!{queryConditions.giftName}"
			+"&payNo=$!{order.payNo}"
			+"&pageSize=$!{page.pageSize}&pageNo="+pageNo;
			window.location.href=url;
		}
    </script>
</body>
</html>