<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>实名资料审核</title>
	<link type="text/css" href="/resources/css/loan.css" rel="stylesheet" />
</head>
<body class="warp">
<!--头部-->
	#parse("/front/index/common/header.vm")
	<!--内容-->
	<div class="container fn-clear">
		<!--右侧内容-->
		<div class="main-content fn-right">
			<div class="mc-border">
				<ul class="fn-steps fn-clear">
        			<li>1.用户注册</li>
        			<li>2.发送激活邮件</li>
        			<li>3.用户激活</li>
        			<li class="current">4.实名认证</li>
					<li>5.绑定银行信息</li>
        			<li>6.注册成功</li>
        		</ul>
				<div class="fn-y-tip">
    				<em></em>
    				<div class="fn-y-con">
    					<p>由于需要等待公安系统回复，实名认证要一个工作日后才能完成。您的个人信息,$!appConstantsUtil.getProductName()金融将为您保密。</p>
    				</div>
    			</div>
				<form action="/userManage/updateUserRealNameInfo" method="post" class="mt20" id="updateUserRealNameInfo_form">
					<fieldset class="border-b fn-mb20">
						<input type="hidden" name="authState" value="$!{realNameStatus}"/>
						<input type="hidden" name="activaStep" value="activating"/>
						<input type="hidden" name="token" value="$!{token}"/>
							<div class="fn-item">
								<h4 style="font-size: 16px;font-weight: bold;"><span id="status" class="ft-f60">
									#if($!{realNameStatus}=="IN")
										状态:实名认证中....
									#elseif($!{realNameStatus}=="IS")
										状态:实名认证通过
								    #elseif($!{realNameStatus}=="NO")
										状态:实名认证未通过
								    #elseif($!{realNameStatus}=="")
										状态:未进行实名认证
								    #end
								</span></h4>
							</div>
							<div class="fn-item">
								<label class="fn-label"><span class="required">*</span>真实姓名：</label>
								<input type="text" class="fn-text w235"  name="realName" value="$!{info.realName}" />
								<input type="hidden" class="fn-text w235"  name="contactName"/>
							</div>
							<div class="fn-item">
								<label class="fn-label"><span class="required">*</span>证件号码：</label>
								<input type="text" class="fn-text w235"  name="certNo"  value="$!{info.certNo}" onChange="javascript:this.value=this.value.toUpperCase();"/>
                            </div>
							<div class="fn-item fn-clear">
								<div class="fn-time fn-left">
    								<label class="fn-label"><span class="required">*</span>身份证到期时间：</label>
    								<input type="date" yearRange='[-10,40]' class="fn-text w90 fn-isdate" name="businessPeriod" #if($!{info.businessPeriod}!="longTime") value="$!{info.businessPeriod}" #end />
    								<img src="$!{rc.contextPath}/resources/images/common/time-ico.gif" alt="时间" class="time-img" />
								</div>
								<p class="fn-left mt5 ml10"><input id="isForever" type="checkbox" name="businessPeriod" #if($!{info.businessPeriod}=="longTime") checked="checked"  #end  class="checkbox" value="longTime"/><label for="">长期</label></p>
								<p class="fn-left mt5 ml10"><label for="" style="color:#AD2B4F;">注意：身份证到时期时间为身份证背面下方时间,请正确填写以免影响实名认证。</label></p>
                            </div>
							<div class="fn-item">
								<label class="fn-label"><span class="required">*</span>身份证图片：</label>
								<div class="upload-pic">
									<p>请上传以上证件的原件扫描件，证件要求：</p>
									<p>证件必须是彩色原件电子版，可以是扫描件或者数码拍摄照片。</p>
									<p>仅支持.jpg.bmp.png的图片格式。<em class="ft-f60">图片大小不超过3M。</em></p>
									<dl class="fn-clear fn-mt10">
										<dt>
    										<input type='hidden' id="certFrontPath" name="certFrontPath" value="$!{info.certFrontPath}"/>
    										<a href="javascript:;" id="certFrontPath_ImgLink" name="certFrontPath_ImgLink" title="证件的原件正面扫描件"> 
    											#if($!{info.certFrontPath})
    												<img id="certFrontPath_Img" width="305" height="155" name="certFrontPath_Img" title="证件的原件正面扫描件"  src="$!{info.certFrontPath}"/>
    											#else
    												<img id="certFrontPath_Img" width="305" height="155" name="certFrontPath_Img" title="证件的原件正面扫描件"  src="$!{rc.contextPath}/resources/images/common/pic-2.gif"/>
    											#end
    										</a>
										</dt>
										<dt>
											<span class="sz">身份证正面：</span>
											<div class="upload-btn">
    											<input type="file" exts="png|jpg|bmp|gif" class="sl-file-input" id="certFrontPath_Upload" />
    										</div>
										</dt>
									</dl>
									<dl class="fn-clear fn-mt10">
										<dt>
											<input type='hidden' id="certBackPath" name="certBackPath" value="$!{info.certBackPath}"/>
											<a href="javascript:;" id="certBackPath_ImgLink" name="certBackPath_ImgLink" title="证件的原件反面扫描件">
												#if($!{info.certBackPath})
    												<img id="certBackPath_Img"  width="305" height="155" name="certBackPath_Img" title="证件的原件反面扫描件"  src="$!{info.certBackPath}"/>
    											#else
    												<img id="certBackPath_Img"  width="305" height="155" name="certBackPath_Img" title="证件的原件反面扫描件"  src="$!{rc.contextPath}/resources/images/common/pic-2.gif"/>
    											#end
											</a>
										</dt>
										<dt>
											<span class="sz">身份证反面：</span>
											<div class="upload-btn">
    											<input type="file" exts="png|jpg|bmp|gif" class="sl-file-input" id="certBackPath_Upload" />
    										</div>
										</dt>
									</dl>
								</div>
							</div>
					</fieldset>
					<div class="fn-item">
						<input type='hidden' id="uploadHost" value="$!{uploadHost}"/>
						<a href="javascript:;" class="fn-g-btn"><button id="submit_button" type="submit">实名认证</button></a>
						<span class="sz">我现在不想实名认证</span><a href="/anon/allFlowSuccess" class="fn-h-btn"><span>登录后认证</span></a>
					</div>
				</form>
			</div>
		</div>
	</div>
	#parse("/front/index/common/footer.vm")
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'realNameAuthentication');
    </script>
</body>
</html>