   <div class="short-borrowing fn-left">
        	<h2 class="f-title fn-clear"><span class="assure-icon fn-right">100%本息保障</span>项目名称：$stringUtil.subString($!{trade.tradeName},10,"..") </h2>
             #parse("/front/common/itemBaseInfo.vm")
   </div>
       