#parse("/front/index/common/header-title.vm")

<body class="warp">
	#parse("/front/index/common/header-yrd.vm")
<!--content begin----------------->	
	


<div class="home-section_bd pt20">
	<div class="blank20"></div>
    <div class="container">
        <div class="bd-box">
            <div class="m-box-hd">
                <h3 class="box-title">找回密码</h3>
            </div>
            <div class="m-box">
				<div class="fn-operate fn-success mt15">
                    <em></em>
                    <h4>设置新密码链接已发送至您的登录邮箱：$!{mailStr}<br />请您在1小时内登录邮箱，按邮件中的指示完成设置新密码操作</h4>
                </div>
				
                
                
            </div>
        </div>
    </div>
    <div class="blank50"></div>
</div>






<script type="text/javascript">
	var $_GLOBAL = {};
</script>
<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
<script type="text/javascript">
	seajs.use($_GLOBAL.mode + 'demo');
</script>

<!--content end----------------->	
	#parse("/front/index/common/footer-yrd.vm")
</body>
</html>