#parse("/front/index/common/header-title.vm")

<body class="warp">
	#parse("/front/index/common/header-yrd.vm")
<!--content begin----------------->	
	


<div class="home-section_bd pt20">
	<div class="blank20"></div>
    <div class="container">
        <div class="bd-box">
            <div class="m-box-hd">
                <h3 class="box-title">找回密码</h3>
            </div>
            <div class="m-box">
                <div class="blank5"></div>
                <div class="log-form mt20">
					#if($!{isExist})
                    <form action="/PasswordManage/checSmsCode" method="post" class="mt20" id="password_form">
                       #if($!{sendSms})
					   <div class="fn-item">
                            <p class="fn-tip">已向你的手机：<em>$!{mobile}发送验证码，请查收！</em></p>
                        </div>
					   #end
					   #if($!{checSmsCodeFail})
					   <div class="fn-item">
                            <p class="fn-tip"><em style="color:red;">$!{message}</em></p>
                        </div>
					   #end
					   	
						<div class="fn-item">
        						<label class="fn-label"><span class="required">*</span>手机号码：</label>
        						<input type="text" id="bundPhone" class="fn-text w235" maxlength="11" name="mobile" readOnly="true" value="$!{strMobile}"/>
						</div>
						
						<div class="fn-item verfyImg-group getCodeWrap">
                            <label class="fn-label"><span class="required">*</span>验证码：</label>
                            <input type="text"  name="code" id="userName" class="fn-text fn-t-disable w230" >
							<a class="u-btn Y-countdown" href="javascript:;" id="getCode" style="display: inline-block;">
        						<span class="timedown" style="color:white;">获取验证码</span>
        					</a>
							<input type="hidden"  id="smsBizType" name="business" value="ForgetLoginPassWord"/>
        					<input value="$!{randomMD5}" name="randomMD5" type="hidden"/>
        					<input type="hidden" value="$!{md5UserBaseId}" name="md5UserBaseId"/>
        					<input type="hidden" value="$!{userBaseId}" name="userBaseId"/>
                            <p class="fn-tip"></p>
                        </div>
                        <div class="fn-item">
                             <a class="fn-g-btn mr5" href="#"><button type="submit" name="next">确认，下一步</button></a>
                        </div>
                    </form>
					#else
						<div class="fn-item">
							<p class="fn-tip"><em>找回密码失败：<em style="color:red;">用户不存在</em></p>
						 </div>
						 <div class="fn-item">
                             <a class="fn-g-btn mr5" href="/PasswordManage/forgetLogPassword"><button type="" name="next">返回	</button></a>
                        </div>
					#end
                </div>
            </div>
        </div>
    </div>
    <div class="blank50"></div>
</div>


<script type="text/javascript">
	var $_GLOBAL = {};
</script>
<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
<script type="text/javascript">
	seajs.use($_GLOBAL.mode + 'forgetPassWord');
</script> 


<!--content end----------------->	
	#parse("/front/index/common/footer-yrd.vm")
</body>
</html>