@charset "utf-8";
/*margin*/
.m5 {margin:5px}
.m10 {margin:10px}
.m15 {margin:15px}
.m20 {margin:20px}
.mt5 {margin-top:5px}
.mt10 {margin-top:10px}
.mt15 {margin-top:15px}
.mt20 {margin-top:20px}
.mr5 {margin-right:5px}
.mr10 {margin-right:10px}
.mr15 {margin-right:15px}
.mr20 {margin-right:20px}
.mb5 {margin-bottom:5px}
.mb10 {margin-bottom:10px}
.mb15 {margin-bottom:15px}
.mb20 {margin-bottom:20px}
.mb30 {margin-bottom:30px}
.ml5 {margin-left:5px}
.ml10 {margin-left:10px}
.ml15 {margin-left:15px}
.ml20 {margin-left:20px}

/*padding*/
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt50{padding-top:50px;}

/*字体颜色*/
.ft-f60{ color:#f60; }
.ft-f90{ color:#f90; }
.ft-333{ color:#333; }
.ft-666{ color:#666; }
.ft-999{ color:#999; }
.ft-ccc{ color:#ccc; }
.ft-green{ color:#3A9F16; }
.ft-yellow{ color:fafad6; }
.ft-pink{ color:#ff9999; }
.ft-14px{ font-size:14px; }
.ft-red{color:#a60000;}
/*宽度*/
.w20{width:20px;}
.w40{width:40px;}
.w60{width:60px;}
.w70{width:70px;}
.w90{width:90px;}
.w110{width:110px;}
.w112{width:112px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w170{width:170px;}
.w235{width:235px;}

/*对齐方式*/
.vm{vertical-align:middle;}
.vt{vertical-align:top;}
.vb{vertical-align:bottom;}
/*radio checkbox*/
.radio, .checkbox{ vertical-align:middle; margin:-2px 3px 0 0; }

/*对齐方式*/
.text-r{text-align:right;}
.text-c{text-align:center;}
/*竖线*/
.line{color:#ccc; padding:0 10px;}
/*最小高度*/
.mh400{min-height:400px; _height:400px;}
/* 强制换行 */
/* 一般 block-level 元素 */
.sl-wrap, .sl-wrap td, .sl-wrap th{
	word-wrap:break-word;word-break:break-all;
}
/* table */
.sl-wrap-table{
	table-layout:fixed;
}
/* 1像素圆角 */
.sl-rc{
  display:inline-block;vertical-align: middle;
  border-left:1px solid #ddd;border-right:1px solid #ddd;  /* 可重设 */
}
/* 
  不要直接给 BOTTON | INPUT[type=submit[button]] 添加边框
  这会引发 IE 的 1px 的黑边 bug
  Note: 一般不要把 input 作为.sl-rc-cnt 层 
 */
.sl-rc-cnt{
  float:left;position: relative;
  border-top: 1px solid #ddd;border-bottom:1px solid #ddd; /* 可重设 */
  margin:-1px 0;
}
/* HACK for ie6 7 */
div.sl-rc, p.sl-rc, h2.sl-rc, h3.sl-rc, h4.sl-rc, h5.sl-rc, h6.sl-rc, ul.sl-rc, ol.sl-rc{
  *display: inline;
}

/*
	@ 名称: 自定义 input[type=file]
	@ 用法: 添加 class .sl-file
	@ 例子：
		 <span class="sl-file">
			<input type="button" value="点击选择图片" />
			<input type="file" exts="png|jpg|bmp" class="sl-file-input" />
		</span>
*/
/* 基础样式 */
.sl-file{
	position:relative;
	display:inline-block;
	zoom:1;
	cursor:pointer;
	overflow:hidden;
	vertical-align:middle;
}
/* 影响 .ui-input-file 的样式 */
.sl-file .sl-file-input{
	position:absolute;
	right:0;
	top:0;
	_font-size:100px; /* overwrite*/
	_font-size:12px;
	_zoom:10; /* overwrite */
	height:100%;
	_height:auto;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	cursor:pointer;
}

/*联动样式*/
.select-item{
    	 background:#eee;
		 cursor: pointer;
    }
    .select-selected
    {
    	
    }
	 .select-light
    {
    	background: #ccc;
    }
	.select
    {
    	float: left;
		margin-left: 5px;
    }
	
	.select-combo  { float:left; }
	
	.select-combo input {
		border: 1px solid #CCCCCC;
	    border-radius: 3px 3px 3px 3px;
	    color: #666666;
	    height: 29px;
	    line-height: 29px;
	    padding: 0 10px;
	    vertical-align: middle;
		float:left;
		
	}
	.select-combo img { float:left; }
	
/*按钮*/
.u-btn{display:inline-block; height:25px; line-height:25px; padding:0 24px; text-align:center; background:url(../../images/after/u-btn-bg.jpg) repeat-x; margin:0 5px 0 0;}
.u-btn-blue{background-position:0 0; color:#fff; border:1px solid #085a7f;}
.u-btn-gray{background-position:0 -35px; color:#444; border:1px solid #ccc;}
/*安全等级进度条*/
.srcl{ background:url(../../images/common/sty.gif) 0 0 no-repeat; margin-right:5px; width:88px; height:8px; padding:1px; display:inline-block; }
.srcl i{ background:url(../../images/common/sty.gif) no-repeat; height:8px; font-size:0; display:block;}
.srcl i.g{ background-position:0 -11px; width:100%;}/*高*/
.srcl i.o{ background-position:0 -20px; width:100%;}/*中*/
.srcl i.h{ background-position:0 -29px; width:100%;}/*低*/
.g{color:#3ba716;}/*高*/
.o{color:#FF5A00;}/*中*/
.h{color:#f00;}/*低*/
/*服务协议*/
.fm-license { border-radius:5px; padding:10px 15px; border:1px #ccc solid; box-shadow:1px 2px 0px #ededed inset; width:535px; background:#fff; margin-top:5px; }
.fm-license strong{color:#333; font-size:14px; float:left;}
.fm-license .closed{ float:right; }
.fm-license .license-con{ height:300px; line-height:22px; font-size:12px; color:#666; overflow-x:hidden; overflow-y:scroll; }
.fm-license .license-con p{position:relative;}

/*易贷网*/
html{background:url(../../images/home/body-bg.jpg) repeat;}
.warp{background:url(../../images/home/body-bg.jpg) repeat;}
.header{height:83px; margin-bottom:23px; background:url(../../images/home/header-bg.jpg) repeat-x;}
.header .container{min-height:auto; _height:auto;}
.header .logo a{display:inline-block; margin:19px 0 0; width:247px; height:43px; background:url(../../images/common/logo.jpg) no-repeat; text-indent:-9999px;}
.header .logo b{margin-left:5px; font-size:14px; vertical-align:bottom;}
.header .nav li{float:left; margin:29px 0 0; font-size:16px; font-family:"微软雅黑"; color:#666;}
.header .nav li a{float:left; color:#333;}
.header .nav li a:hover{color:#a60000; text-decoration:none;}
.header .nav li .cur{color:#a60000;}
.header .nav .slant{padding:0 20px;color:#ccc; font-family:"字体"}
.footer{margin-top:26px; padding:30px 0 0; background:#e3e3e3 url(../../images/home/footer-bg.jpg) repeat-x; font-family:"微软雅黑";}
.footer .container{min-height:auto; _height:auto;}
.f-container{ width:980px; margin:0 auto; color:#666; }
.footer .partner h4{float:left; margin-right:45px; font-size:14px;}
.footer .partner ul{float:left;}
.footer .partner li{float:left; margin-right:35px;}
.footer .copyright{margin-top:30px; padding:25px 0; text-align:center; color:#999; background:url(../../images/home/footer-line.jpg) repeat-x left top;}
.footer .foot-link{text-align:center; padding-bottom:30px; color:#999;}
.footer .foot-link a{color:#999;}



