<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>会员礼包</title>
	<link type="text/css" href="/resources/css/loan.css" rel="stylesheet" />
</head>
<body>
	#parse("/front/index/common/header.vm")
	<!--内容-->
	<div class="container fn-clear">
		<!--左侧导航-->
		#parse("/front/user/common/left.vm")
		<!--右侧内容-->
		<div class="main-content mc-border fn-right" style="height:600px;">
			<h3 class="con-title">礼品详情</h3>
			<div class="safe">
				<div class="safe-serve">
                    <div style="right:100px;"><img src="/resources/images/common/gift.gif" alt="鲜花"></img></div>
                    <div style="padding-left:20px; font-size:12pt;font-family: 'Times New Roman',Georgia,Serif;">
    					<p style="width:300px;">您获得$!{info.giftNumber}张$!{info.giftName}</p>
    					##<p>发送自：$!{info.relatedRealName}</p>
    					<p>活动名称：$!{info.activityName}</p>
    					<p>
    						活动详情:
    						<p>$!{activityInfo.description}</p>
                        </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("/front/index/common/footer.vm")
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'securityCenter');
		
    </script>
</body>
</html>
