	<div class="footer">
		<div class="f-container">
			<div class="partner">
				<h4>合作伙伴</h4>
				<ul>
					<li><a target="_blank" href="https://ppm.yiji.com/"><img style="width:175px;height:32px;" src="$!{rc.contextPath}/resources/images/home/YJF.png" alt="易极付" /></a></li>
					<li><a target="_blank" href="http://www.cqsxdb.com"><img style="width:175px;height:32px;" src="$!{rc.contextPath}/resources/images/home/SXDB.png" alt="重庆市三峡担保集团有限公司" /></a></li>
					<li><a target="_blank" href="http://www.yutaidb.com/"><img style="width:175px;height:32px;" src="$!{rc.contextPath}/resources/images/home/YTDB.png" alt="重庆渝台担保公司" /></a></li>
                    <li><a target="_blank" href="http://www.edu-guaranty.com/"><img style="width:175px;height:32px;" src="$!{rc.contextPath}/resources/images/home/JYDB.png" alt="重庆教育担保公司" /></a></li>
				</ul>
			</div>
			<div class="fn-clear"></div>
		</div>
		
		<div class="copyright">
			<div style="width: 990px;height: 70px;margin: 0 auto;position: relative;">
    			<div style="left: 200px;position: absolute;">
    				<a target="_blank" href="http://www.cqnet110.gov.cn">
    					<img src="$!{rc.contextPath}/resources/images/police/sentrybox.gif" alt="网警图标"/>
    				</a>
    				##<iframe frameborder=0 height=90 width=90 allowtransparency=true scrolling=no src='http://www.cqgseb.cn/ztgsgl/WebMonitor/GUILayer/eImgMana/gshdimg.aspx?sfdm=120131212151021484708'></iframe>
                </div>
    			<p>版权所有 © $!appConstantsUtil.getPlatformName() 未经许可不得复制、转载或摘编，违者必究!</p>
    			<p>Copyright Chongqing Yijiu Financial Service Co.,LTD. ALL Rights Reserved</p>
    			<p>公司地址：$!appConstantsUtil.getPlatformAddress()　邮编：400000</p>
				<p>渝ICP备14004026号-1</p>
    			<div style="position: absolute;top: -10px;right: 170px;">
    				<a target="_blank" href="http://beian.cqnet110.gov.cn/open/showRecord?id=50011202000045">
            			<img src="$!{rc.contextPath}/resources/images/police/50011202000045.gif" alt="备案号"/>
                    </a>
                </div>
    	  </div>
		</div>
	</div>
