<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>公司简介</title>
	<link type="text/css" href="/resources/css/loan.css" rel="stylesheet" />
</head>
<body class="warp">
	<!--头部-->
	#parse("/front/index/common/header.vm")
	
	<!--内容-->
	<div class="container brief fn-clear">
		<div class="h-content mc-border">
			<h3>重庆渝台信用担保有限公司介绍</h3>
			<div class="brief-con">
				<h4>一、公司成立的背景和性质定位：</h4>
				<p>根据2009年4月7日市政府关于研究落实重庆惠台8条政策的专题会议纪要精神，&ldquo;决定成立融资担保公司，为在渝台资企业提供贷款担保&rdquo;，该公司由市国资委牵头，市台办配合，协调市级国有企业先按照一定比例出资，作为发起人，优先邀请台资企业、民营资本和其他社会资本入股，组建为台资企业融资服务的担保公司，重庆渝台担保公司就此应运而生。市金融办于2009年4月27日以渝金融办【2009】52号文批复同意成立渝台担保公司。
                </br>
                </br>
			  </p>
			  <h4>二、公司注册情况：</h4>
				<p>重庆渝台信用担保有限公司于2009年5月11日取得营业执照，法定住所：沙坪坝区西永微电子产业园软件研发楼B1 3层，法定代表人张永红，公司类型为有限责任公司，注册资本3亿元，实收资本3亿元，其中重庆市三峡担保集团有限公司出资2亿元（控股66.66％）、重庆西永微电子产业园区开发有限公司出资5000万元（占股16.67％）、重庆瑞诚创业投资担保有限公司出资5000万元（占股16.67％）。</p>
                </br>
                </br>
                <h4>三、公司经营范围、思路和发展规划况</h4>
				<p>（一）指导思想：以科学发展观为指导，依法合规经营，主要为在渝台资企业提供提供融资担保，推动在渝台资企业的发展；公司经营坚持市场化运作，以市场的方法实现政府的政策性目标和公司做强做大的经营目标。</p>				
                 </br>
                 <p>（二）经营目标：2013年年末达到在保金额23亿元，不良担保率控制在1%以内。</p>				
                 </br>
                  <p>（三）经营原则：1.合法性原则。经营活动和业务开展必须遵守担保法等法律法规的规定。2.政策性原则。业务经营以政策性为目标，主要为在渝台资企业提供融资担保服务。3.独立自主开展业务的原则。担保业务由公司自主评审，自主决策。4.市场化运作原则。遵循市场法则和经济规律。5.控制风险原则。风险控制贯穿于业务操作的全过程，确保担保业务的安全性和流动性。</p>			
                 </br>
                 <p>（四）经营范围：1.业务范围：主要从事融资性担保业务及司法担保、履约担保等法律、法规没用限制的担保和再担保业务。2.合作机构：包括银行、租赁、信托、证券、小额贷款公司等金融机构，主要为国有银行、股份制银行和地方金融机构在重庆市内的融资性和非融资性项目提供担保。3.业务品种：包括借款担保（企业短期银行贷款、中长期银行贷款、融资租赁贷款等）、企业债券担保、工程承包合同等的履约担保、诉讼担保、为重庆市辖区内区、市、县中小企业担保公司提供再担保、委托贷款、项目咨询和策划服务、投资中介服务、企业财务顾问等。</p>
                 </br>
                 <p>（五）业务运作模式：以政策为导向、以市场化运作为手段的运作模式，多渠道扩大项目融资担保群。坚持统筹规划，突出担保重点，将在渝台资企业纳入重点业务范畴。</p>
                 </br>
				<p class="text-r">重庆渝台信用担保有限公司</p>
				<p class="text-r">2013年11月10日</p>
			</div>
		</div>
	</div>
	#parse("/front/index/common/footer.vm")
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'demo');
    </script>
</body>
</html>