#parse("/front/index/common/header-title.vm")
<body class="warp">
	<!--头部-->
	#parse("/front/index/common/header-yrd.vm")
	
	<!--内容-->
<div class="home-section_bd pt20">
	<div class="blank20"></div>
    <div class="bd-box db-p14 container">
    	<h2 class="title1 mt10"><span>法律法规</span></h2>
        <div class="about-us mt20"> ##此页面没用了？
        	<div class="about-txt">

			<div class="brief-con" style="line-height:30px;">
				<h4 style="font-weight:bold;text-indent:2em">合同成立与电子证据</h4>
				<p>《合同法》第11条：“书面形式是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式。”</p>
				<p>《电子签名法》第3条：“民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用或者不使用电子签名、数据电文。 当事人约定使用电子签名、数据电文的文书，不得仅因为其采用电子签名、数据电文的形式而否定其法律效力。”</p>
				</br>
				<h4 style="font-weight:bold;text-indent:2em">借款合同</h4>
				<p>《合同法》第211条：“自然人之间的借款合同对支付利息没有约定或约定不明确的，视为不支付利息。自然人之间的借款合同约定支付利息的，借款的利率不得违反国家有关限制借款利率的规定。”</br>

				最高人民法院《关于人民法院审理借贷案件的若干意见》第6条：“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍（包含利率本款）。超出此限度的，超出部分的利息不予保护。”
				</p>
				</br>
				<h4 style="font-weight:bold;text-indent:2em">合同担保</h4>
				<p>
				《合同法》第198条：“订立借款合同，贷款人可以要求借款人提供担保。担保依照《中华人民共和国担保法》的规定。”</br>

                                                    《担保法》第2条：“在借贷、买卖、货物运输、加工承揽等经济活动中，债权人需要以担保方式保障其债权实现的，可以依照本法规定设定担保。本法规定的担保方式为保证、抵押、质押、留置和定金。”</br>
                                                    
                                                    《担保法》第34条：“下列财产可以抵押：（一）抵押人所有的房屋和其他地上定着物；（二）抵押人所有的机器、交通运输工具和其他财产；（三）抵押人依法有权处分的国有的土地使用权、房屋和其他地上定着物；（四）抵押人依法有权处分的国有的机器、交通运输工具和其他财产；（五）抵押人依法承包并经发包方同意抵押的荒山、荒沟、荒丘、荒滩等荒地的土地使用权；（六）依法可以抵押的其他财产。抵押人可以将前款所列财产一并抵押。”</br>
                                                    
				<h4 style="font-weight:bold;text-indent:2em">居间合同</h4>
                                                    
                                                    《合同法》第424条：“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同。”</br>
                                                    
                                                    《合同法》第426条：“居间人促成合同成立的，委托人应当按照约定支付报酬。对居间人的报酬没有约定或者约定不明确，依照本法第六十一条的规定仍不能确定的，根据居间人的劳务合理确定。因居间人提供订立合同的媒介服务而促成合同成立的，由该合同的当事人平均负担居间人的报酬。　居间人促成合同成立的，居间活动的费用，由居间人负担。”</br>
                                                    
                                                    《合同法》第427条：“居间人未促成合同成立的，不得要求支付报酬，但可以要求委托人支付从事居间活动支出的必要费用。”</br>

				
				</p>
				</br>
				<h4 style="font-weight:bold;text-indent:2em">第三方支付 </h4>
				<p>《非金融机构支付服务管理办法》第2条：“本办法所称非金融机构支付服务，是指非金融机构在收付款人之间作为中介机构提供下列部分或全部货币资金转移服务：（一）网络支付；（二）预付卡的发行与受理；（三）银行卡收单；（四）中国人民银行确定的其他支付服务。　　本办法所称网络支付，是指依托公共网络或专用网络在收付款人之间转移货币资金的行为，包括货币汇兑、互联网支付、移动电话支付、固定电话支付、数字电视支付等。”</p>
				</br>
				<h4 style="font-weight:bold;text-indent:2em">互联网金融 </h4>
				<p>《国务院办公厅关于加强影子银行监管有关问题的通知》：“金融机构借助网络技术和互联网平台开展业务，要遵守业务范围规定，不得因技术手段的改进而超范围经营。网络支付平台、网络融资平台、网络信用平台等机构要遵守各项金融法律法规，不得利用互联网技术违规从事金融业务。” </p>
				
				
			</div>
        </div>
    </div>
    <div class="blank50"></div>
	</div>
</div>
	#parse("/front/index/common/footer-yrd.vm")
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'demo');
    </script>
</body>
</html>