#parse("/front/index/common/header-title.vm")
<body class="warp">
	<!--头部-->
	#parse("/front/index/common/header-yrd.vm")
	
	<!--内容-->
<div class="home-section_bd pt20">
	<div class="blank20"></div>
    <div class="bd-box db-p14 container">
    	<h2 class="title1 mt10"><span>关于我们</span></h2>
        <div class="mt20">
        	<div class="about-txt">
				<div class="con-list">
					<ul>
						<li><a href="/help/institutionIntroduction/8">公司介绍</a></li>
						<li class="on"><a href="/help/institutionIntroduction/26">团队介绍</a></li>
						<li><a href="/help/institutionIntroduction/19">合作伙伴</a></li>
						<li><a href="/help/institutionIntroduction/27">专家顾问</a></li>
						<li><a href="/help/institutionIntroduction/11">联系我们</a></li>
					</ul>
				</div>
			
    			<div class="brief-con" Style="float:right;width:750px;">
                  
                    <div><img src="/styles/images/zhuceNew/t1.jpg" width="752"/></div>
                    <div><img src="/styles/images/zhuceNew/t2.jpg" width="752"/></div>
                    <div><img src="/styles/images/zhuceNew/t3.jpg" width="752"/></div>
                    <div><img src="/styles/images/zhuceNew/t4.jpg" width="752"/></div>
                    <div><img src="/styles/images/zhuceNew/t5.jpg" width="752"/></div>

</div>
			</div>
        </div>
    </div>
	
    <div class="blank50"></div>
</div>
	#parse("/front/index/common/js.vm")
	#parse("/front/index/common/footer-yrd.vm")
	
</body>
</html>