<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link type="text/css" href="$!{rc.contextPath}/resources/css/home.css" rel="stylesheet" />
</head>
<style type="text/css">
	ul#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		background:transparent;
		}
	ul#controls li a{
		float:left;
		height:10px;
		line-height:10px;
		border:1px solid #ccc;
		background:#ccc;
		color:#555;
		padding:0 10px 1px 0;
		text-decoration:none;
		}
	ul#controls li.e-current a{
		background:#ff0000;
		color:#fff;
		}
	ul#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}	
	#bannerMenu .on{background: #A60000}
	a#login-btn{
    	display: inline-block;
        padding: 3px 20px;
        font-size: 12px;
        margin-bottom: 0;
        line-height: 20px;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        vertical-align: middle;
        cursor: pointer;
        background: -webkit-linear-gradient(#FF8400, #E7561C);
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF8400',endColorStr='#E7561C',gradientType='1'); 
		background: -o-linear-gradient(#FF8400, #E7561C);
		background: -moz-linear-gradient(#FF8400, #E7561C);
		background: -ms-linear-gradient(#FF8400, #E7561C);
        background-repeat: repeat-x;
        border-width: 0 1px 1px;
        border-color: #BBB;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #A6A6A6;
        border-radius: 5px;
        font-weight: bold;
		font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	}
	a#login-btn:hover {
        text-decoration: none;
        background: -webkit-linear-gradient(#FF9C00, #FFBB01);
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF9C00',endColorStr='#FFBB01',gradientType='1'); 
		background: -moz-linear-gradient(#FF9C00, #FFBB01);
		background: -o-linear-gradient(#FF9C00, #FFBB01);
		background: -ms-linear-gradient(#FF9C00, #FFBB01);
        background-position: 0 -93px	9;
    }
</style>
<body class="warp">
	#parse("/front/index/common/header.vm")
	<div class="container">
		<div class="home-top fn-clear" style="height:250px">
			<div class="slides fn-left">
				<div  id="bannerBg1">
    				<ul class="slid-img fn-clear bannerC">
                        <li class="slide" style="position:absolute;top:0;left:0"><div class="banner bg-1"><img src="$!{rc.contextPath}/resources/images/home/slid/slid1.jpg"/></div></li>
                        <li class="slide01" style="position:absolute;top:0;left:0"><div class="banner bg-1"><img src="$!{rc.contextPath}/resources/images/home/slid/trb.jpg" /></div></li>
    					<li class="slide01" style="position:absolute;top:0;left:0"><div class="banner bg-1"><img src="$!{rc.contextPath}/resources/images/home/slid/slid3.jpg"/></div></li>
                        <li class="slide01" style="position:absolute;top:0;left:0"><div class="banner bg-1"><img src="$!{rc.contextPath}/resources/images/home/slid/slid4.jpg" /></div></li>
    				</ul>
    				<ul id="bannerMenu" class="slid-num fn-clear bannerMenu" style="position:absolute;z-index:9999">
    					<li class="on">1</li>
    					<li>2</li>
    					<li>3</li>
    					<li>4</li>
    				</ul>
				</div>
			</div>
			#if(!$sessionScope)
			<!--登录前-->
			<div class="mian-link fn-right">
				<div class="login-before">
					<a href="/anon/investorsOpen" class="reg">免费注册</a>
					<p class="login">已有账号？<a href="/login/login" id="login-btn" class="login-btn">立即登录</a></p>
					<p><a href="/help/institutionIntroduction/1" class="intro">$!appConstantsUtil.getProductName()金融介绍</a></p>
					<p><a href="/help/institutionIntroduction/2" class="feature">什么是$!appConstantsUtil.getProductName()金融</a></p>
				</div>
			</div>
			#else
			<!--登录后-->
			<div class="mian-link fn-right">
				<div class="login-after">
					<p class="account">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp尊敬的会员：$!{sessionScope.realName}</p>
					<p class="welcome">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎使用$!appConstantsUtil.getProductName()金融！</p>
					<!--<a href="">待收明细</a><a href="">待还明细</a><a href="/userManage/rechargePage">充值</a><a href="/withdrawals/launchWithdrawals">提现</a>-->
					<a href="/userManage/userHome" class="enter">进入我的账户</a>
				</div>
			</div>
			#end
		</div>
		<div class="notice fn-clear">
			<h2 class="fn-left">公告</h2>
			<div id="marquee" style="overflow: hidden">
				<ul class="fn-left">
					##<li><a href="/help/announcement/1" target="_blank">热烈祝贺$!appConstantsUtil.getProductName()金融—$!appConstantsUtil.getProductName()金融正式上线!</a></li>
					<li><a style="font-size:12px;" href="/help/announcement/3" target="_blank">热烈祝贺第一单提前满额</a></li>
				</ul>
			</div>	
		</div>
		#set($status=$!{request.getParameter('status')})
		<ul class="tab fn-clear">
			<li><a href="$!{rc.contextPath}/"#if($status == 1) class="cur"#end>最热投资项目</a></li>
			<li><a href="$!{rc.contextPath}/boot/index/$!{page.pageSize}/1?status=2"#if($status == 2) class="cur"#end>最新成立项目</a></li>
		</ul>
		#parse("/front/index/common/entries.vm")
		
		<!--
		<div class="loading">
			<span>正在加载</span>
		</div>
		-->
	<div class="pages">
			#if($!{page.totalPageCount} > 0)
				<a href="$!{rc.contextPath}/boot/index/$!{page.pageSize}/$!{page.previosPageNo}?status=$!{status}" class="prev">上一页</a>
				#if($!{page.totalPageCount} <= 5)
					#foreach($p in [1..$!{page.totalPageCount}])
					<a href="$!{rc.contextPath}/boot/index/$!{page.pageSize}/$!{p}?status=$!{status}"#if($!{page.currentPageNo} == $!{p}) class="cur"#end>$!{p}</a>
					#end
				#else
				    #set($e = 0)
				    #if($!{page.currentPageNo} == 1)
				    #set($e = 0)	
				    #elseif($!{page.currentPageNo} == 2)
				    #set($e = 1)
				    #else
				    #set($e = 2)
    				#end
				    #set($start = $!{page.currentPageNo} - $e)
				    #set($end = $!{page.currentPageNo} + 4 - $e)
    				#foreach($c in [$start..$end])
    				<a href="$!{rc.contextPath}/boot/index/$!{page.pageSize}/$!{p}?status=$!{status}"#if($!{page.currentPageNo} == $!{p}) class="cur"#end>$!{p}</a>
				    #end
					
					<span>...</span>
					<a href="$!{rc.contextPath}/boot/index/$!{page.pageSize}/$!{page.totalPageCount}?status=$!{status}">$!{page.totalPageCount}</a>
				#end
				<a href="$!{rc.contextPath}/boot/index/$!{page.pageSize}/$!{page.nexPagetNo}?status=$!{status}" class="next">下一页</a>
			#end
		</div>
		
	</div>
	#parse("/front/index/common/footer.vm")
	
	#parse("/front/index/common/js.vm")
	
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'index');
    </script>
	<script src="/resources/js/lib/jquery.slidy.min.js" type="text/javascript"></script>
</body>
</html>