<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>借贷需求详情</title>
	<link type="text/css" href="/resources/css/after.css" rel="stylesheet" />
</head>
<body>
	<div class="warp">
		<!--头部-->
		#parse("/backstage/layout/logo.vm")
		<!--内容-->
		<div class="container fn-clear">
			#parse("/backstage/layout/left.vm")
			<div class="main-content fn-right">
				<div class="mc">
					<div class="top">
						<p><a href="">融资管理</a> > 借贷需求详情</p>
					</div>
					<form action="/backstage/updateLoanDemandSubmit" method="post" class="ui-form" id="add_loandemand_form" >
						<fieldset>
							<legend><h3>融资基本信息</h3></legend>
							<input type="hidden" name="guaranteeAudit" value="$!{info.guaranteeAudit}"/>
							<input type="hidden" name="userType" value="$!{userType}"/>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>融资人：</label>
								<input type="text" class="u-input w170" name="userName" value="$!{info.userName}"/>
								<p class="u-tip">填写用户名</p>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required"></span>融资人真实姓名：</label>
                                <p class='u-tip mt5' name="realName" >$!{realName}</p>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>融资标题：</label>
								<textarea name="loanName" maxlength="64" class="u-area">$!{info.loanName}</textarea>
								<label class="u-tip">字数限制25个字</label>
							</div>
							<div class="item fn-clear" style="z-index:15">
								<label for="" class="u-label"><span class="required">*</span>融资规模：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="dimensions" id="">
										<option value="">---&nbsp;请选择融资规模&nbsp; ---</option>
										#foreach($foo in ['1,000 ~ 50,000','50,000 ~ 100,000','100,000 ~ 500,000','500,000 ~ 1,000,000','1,000,000 ~ 5,000,000','5,000,000 ~ 1000,000,000'])
											<option value="$!{foo}" #if($!{info.dimensions}=="$!{foo}") selected="selected" #end>$foo</option>
										#end
									</select>
								</div>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>融资金额：</label>
								<input type="text" class="u-input w170 mask_money" name="loanAmount"  value="$!{info.loanAmount}"/> 元
								<label class="u-tip">人民币大写：  <b id="loanAmountChinese" class="u-tip"></b></label>
							</div>
                            <!--20141209-->
                            <div class="item">
                                <label for="" class="u-label">是否使用红包：</label>
                                <input type="radio"  name="useGiftMoney" id="useGiftMoney" value="Y" #if($!{useGiftMoney}=="Y") checked="checked" #end /> 是
                                <input type="radio"  name="useGiftMoney" id="useGiftMoney" value="N" #if($!{useGiftMoney}=="N") checked="checked" #end/> 否 &nbsp;

                            </div>

                            <div class="item">
                                <label for="" class="u-label">红包使用规则：</label>
                                <span class="span_new"><a href="javascript:;" class="fn-new"> 新增</a></span>&nbsp;&nbsp;&nbsp;<span class="span_new"> 是否递增 <input type="checkbox" #if($!{giftMoneyIncrease}=="Y")     checked="checked"  #end  name="gmIncrease" id="gmIncrease"></span>
                                <div id="div_rule">


                                </div>
                            </div>

                            <div class="item">
                                <label for="" class="u-label">是否使用体验金：</label>
                                <input type="radio"  name="useExperienceAmount" id="useExperienceAmount" value="Y" #if($!{useExperienceAmount}=="Y") checked="checked" #end /> 是
                                <input type="radio"   name="useExperienceAmount" id="useExperienceAmount" value="N" #if($!{useExperienceAmount}=="N") checked="checked" #end /> 否 &nbsp;
                            </div>
                            <div class="item">
								<label for="" class="u-label"><span class="required">*</span>融资期限：</label>
								<div class="fn-clear mb10" style="position:relative; z-index:14">
									<p class="fn-left"><input type="radio" class="radio" name="timeLimitUnit" #if($!{info.timeLimitUnit.code}=="W") checked="checked" #end value="W"/><label for="">固定期限：</label></p>
									<div class="jqtransform jqtransform-select3">
										<select name="timeLimit" id="">
											<option value=" ">---&nbsp;请选择固定期限&nbsp; ---</option>
											#foreach($foo in [1,3,6,9,12])
                                             <option value="$!{foo}" #if($!{info.timeLimitUnit.code}=="W" && $!{info.timeLimit}=="$!{foo}") selected="selected" #end>${foo}月期</option>
                                            #end
										</select>
									</div>
								</div>

								<div class="fn-clear mb10" style="position:relative; z-index:13">
									<p class="fn-left"><input type="radio" class="radio" name="timeLimitUnit" #if($!{info.timeLimitUnit.code}=="M") checked="checked"  #end  value="M"/><label for="">定制月份：</label></p>
									<div class="jqtransform jqtransform-select3">
										<select name="timeLimit" id="">
											<option value=" ">---&nbsp;请选择定制月份&nbsp; ---</option>
											#foreach($foo in [1..24])
                                             <option value="$!{foo}" #if($!{info.timeLimitUnit.code}=='M'&& $!{info.timeLimit}==$!{foo}) selected="selected" #end>${foo}个月</option>
                                            #end
											
										</select>
									</div>
								</div>
								<div class="fn-clear mb10" style="position:relative; z-index:12">
									<p class="fn-left"><input type="radio" id="radio002" class="radio" name="timeLimitUnit" #if($!{info.timeLimitUnit.code}=="D") checked="checked" #end value="D"/><label for="">定制天数：</label></p>
									<input type="text" id="radio002_1" name="timeLimit" #if($!{info.timeLimitUnit.code}=="D") value="$!{info.timeLimit}"#end/>  天
								</div>
							</div>
							<!--<div class="item fn-clear" style="z-index:11">
								<label for="" class="u-label"><span class="required">*</span>还款方式：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="" id="">
										<option value="">按月到期利随本清</option>
										<option value="">按天到期利随本清</option>
									</select>
								</div>
							</div>-->
							<div class="item fn-clear">
								<label for="" class="u-label"><span class="required">*</span>最低投资：</label>
								<input type="text" id="leastInvestAmountTxt" class="u-input w170 mask_money" name="leastInvestAmount" value="$!{info.leastInvestAmount}"/> 元<label class="u-tip">人民币大写：  <b id="leastInvestAmountChinese" class="u-tip"></b></label>
							</div>

							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>满标条件：</label>
								<p class="mb10">
									<input type="radio" name="saturationConditionMethod" #if($!{info.saturationConditionMethod.code}=="amount")  checked="checked" #end class="radio" value="amount"/><label for="">固定金额：</label>
									<input type="text" id="saturationConditionAmount" class="u-input w170 mask_money" name="saturationCondition" #if($!{info.saturationConditionMethod.code}=="amount") value="$!{value}" #end/> 元
									<label class="u-tip">人民币大写：  <b id="saturationConditionAmountChinese" class="u-tip"></b></label>	
								</p>
								<p class="mb10">
									<input type="radio" name="saturationConditionMethod" #if($!{info.saturationConditionMethod.code}=="rate")  checked="checked" #end class="radio"  value="rate"/><label for="">固定比率：</label>
									<input type="text"  class="u-input w170" name="saturationCondition"  #if($!{info.saturationConditionMethod.code}=="rate")   value="$!{value}" #end />%
								</p>
								<p class="">
									<input type="radio" name="saturationConditionMethod" #if($!{info.saturationConditionMethod.code}=="date")  checked="checked" #end class="radio" value="date"/><label for="">固定时间：</label>
									<input type="text" class="u-input w170 time" name="saturationCondition"  #if($!{info.saturationConditionMethod.code}=="date")  value="$!{info.saturationCondition}" #end/>
								</p>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>融资用途：</label>
								<textarea name="loanPurpose"  class="u-area">$!{info.loanPurpose}</textarea>
								<label class="u-tip">字数限制32个字</label>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>可投资时间:</label>
								<input type="text" class="u-input w170 time" name="investAvlDate" value="$!dateUtil.simpleFormat($!{info.investAvlDate})"/>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>截止日期：</label>
								<input type="text" name="deadline" class="u-input w170 time" value="$!dateUtil.simpleFormat($!{info.deadline})"/>
							</div>
							
							<div class="item">
								<label for="" class="u-label">定义标题：</label>
								<input type="text" class="u-input w170" name="selfDefinedTitle" value="$!{info.selfDefinedTitle}"/>
								<p class="u-tip">为了让您的需求更容易引发投资人的兴趣，请填写标题，若不填写，将由系统自动生成</p>
							</div>
						</fieldset>
						<fieldset>
							<legend><h3>项目信息</h3></legend>
							<div class="item">
								<textarea name="loanNote" class="u-area" style="width:600px;height:200px;">$!{info.loanNote}</textarea>
							</div>
						</fieldset>
						<fieldset>
							<legend><h3>承诺信息</h3></legend>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>担保机构：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="guaranteeId" id="">
										<option value="-1">---&nbsp;请选择小贷公司&nbsp;---</option>
										#foreach($guarantee in $!{guarantee})
										<option value="$!{guarantee.userId}" #if($!{guarantee.userId}=="$!{info.guaranteeId}") selected="selected" #end>$!{guarantee.enterpriseName}</option>
										#end
									</select>
								</div>
							</div>
							<br/>
							<div class="item">
								<label for="" class="u-label">担保机构简介：</label>
								<textarea name="loanStatement" id="" class="u-area" maxlength="500">$!{info.loanStatement}</textarea>
							</div>
							<div class="item">
								<label for="" class="u-label">风控措施：</label>
								<textarea name="guaranteeStatement" id="" class="u-area"  maxlength="500">$!{info.guaranteeStatement}</textarea>
							</div>
							<div class="item">
								<label for="" class="u-label">涉诉信息：</label>
								<textarea class="u-area" name="info3"  maxlength="100">$!{loanerInfo.info3}</textarea>
							</div>
							<div class="item">
								<label for="" class="u-label">担保机构意见：</label>
								<textarea class="u-area" name="sponsorStatement"  maxlength="500">$!{info.sponsorStatement}</textarea>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>承诺函编号：</label>
								<input type="text" class="u-input w170" name="guaranteeLicenceNo" value="$!{info.guaranteeLicenceNo}"/>
							</div>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>承诺函名称：</label>
								<input type="text" class="u-input w170" name="guaranteeLicenceName" value="$!{info.guaranteeLicenceName}"/>
							</div>
							<div class="item">
								<label for="" class="u-label">上传承诺函附件：</label>
								<span class="sl-file">
									<input type="file" exts="png|jpg|bmp" class="sl-file-input" id="guaranteeLicenseUrl_Upload_update" />
								</span>
								<div id="guaranteeLicenseUrl_imgcontainer"  #if($!{info.guaranteeLicenseUrl}=="" ) style = "display:none;"#end >
									<div style = "height:265px;">
										<input type='hidden' id="uploadHost" value="$!{uploadHost}"/>
    									<input type='hidden' id="guaranteeLicenseUrl" name="guaranteeLicenseUrl" value="$!{info.guaranteeLicenseUrl}"/>
    									<a href="javascript:;" id="guaranteeLicenseUrl_ImgLink" name="guaranteeLicenseUrl_ImgLink" title="承诺函照片">  
    										<img id="guaranteeLicenseUrl_Img" name="guaranteeLicenseUrl_Img" title="承诺函照片" style = "width:450px;height:260px;"  src="$!{info.guaranteeLicenseUrl}"/>
                                        </a> 
									</div>	
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend><h3>保荐人信息</h3></legend>
							<div class="item">
								<label for="" class="u-label">保荐机构：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="sponsorId" id="">
										<option value="-1">---&nbsp;请选择保荐机构&nbsp; ---</option>
										#foreach($sponsor in $!{sponsor})
										<option value="$!{sponsor.userId}" #if($!{sponsor.userId}=="$!{info.sponsorId}") selected="selected" #end>$!{sponsor.enterpriseName}</option>
										#end
									</select>
								</div>
							</div>
							<br/>
						</fieldset>
						<fieldset>
							<legend><h3>分润信息</h3></legend>
							<div class="item" style="z-index:20;">
								<label for="" class="u-label"><span class="required">*</span>筹资阶段：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="templateIds" id="divisionTemplateId1">
										<option value="">---&nbsp;请选择分润模版&nbsp; ---</option>
										#foreach($invest in $!{invest})
										<option value="$!{invest.divisionTemplateId}" #if($!{investTemplateId}==$!{invest.divisionTemplateId}) selected="selected" #end >$!{invest.templateName}</option>
										#end
									</select>
								</div>
								## <p id="s1"> $!{investDivisionInfo} </p>
							</div><br/><br/>
							<div class="item">
								<label for="" class="u-label"><span class="required">*</span>还款阶段：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="templateIds" id="divisionTemplateId2" >
										<option value="">---&nbsp;请选择分润模版&nbsp; ---</option>
										#foreach($repay in $!{repay})
										<option value="$!{repay.divisionTemplateId}" #if($!{repayTemplateId}==$!{repay.divisionTemplateId}) selected="selected" #end>$!{repay.templateName}</option>
										#end
									</select>
								</div>
								##<p id="s2">$!{repayDivisionInfo}</p>
							</div><br/><br/>
							<div class="item">
								<div style="font-size:13pt; color:red">
									<label for="" class="u-label"><span class="required">*</span>融资成本利率：</label>
									<input id="templateRate1" type="hidden" class="u-input w170  mask_money mask_only_number" name="templateRate" value="$!{loanInterest1}"/>
									<input id="templateRate2" type="hidden" class="u-input w170  mask_money mask_only_number" name="templateRate" value="$!{loanInterest2}"/>
									<input type="text" readOnly class="u-input w170" style="color:red;" id="loanInterest" name="loanInterest" value="$!{totalLoanInterest}"/><span class="fn-words">%</span>
								</div><br/>
                            </div>
							<div class="item">
								<!--<label for="" class="u-label"><span class="required">*</span>投资年化利率：</label>-->
								<input id="investRate1" type="hidden" class="u-input w170  mask_money mask_only_number" name="investRate" value="$!{investorInterest1}"/>
									<input id="investRate2" type="hidden" class="u-input w170  mask_money mask_only_number" name="investRate" value="$!{investorInterest2}"/>
								<input id="investInterestRate" type="hidden" class="u-input w170  mask_money mask_only_number" name="interestRate" value="$!{totalInvestorInterest}"/>
							</div>
						</fieldset>
						
													<!--添加借款人的信息-->
							#if("Y"==$appConstantsUtil.getAddLoanerBaseInfo())
								#parse("/backstage/borrowingManage/addLoanerBaseInfo.vm")
							#end
						
						<!--选择合同-->
						<fieldset>
							<legend><h3>相关合同</h3></legend>
							<div class="item" style="z-index:20;">
								<label for="" class="u-label"><span class="required">*</span>合同模版：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="contractTemplateId" id="contractTemplateId">
										<option value="">---&nbsp;请选择合同模版&nbsp; ---</option>
										#foreach($pdfTempl in $!{contractTmpList})
										<option value="$!{pdfTempl.id}"  #if($!{contractTemplateId}==$!{pdfTempl.id}) selected="selected" #end >$!{pdfTempl.Name}</option>
										#end
									</select>
									#if($!{contractTemplateId}!=0)  
									<label class="u-tip"><a href="/backstage/updateLoanDemand/previewPdf?templateId=$!{contractTemplateId}&demandId=$!{info.demandId}"  target="_blank"  >预览</a></label>
									#end
								</div> 
							</div><br/><br/> 
							
							<div class="item" style="z-index:19;">
								<label for="" class="u-label"><span class="required">*</span>投资凭证模板：</label>
								<div class="jqtransform jqtransform-select3">
									<select name="receiptTemplateId" id="receiptTemplateId">
										<option value="">---&nbsp;请选择投资凭证模版&nbsp; ---</option>
										#foreach($pdfTempl in $!{receiptTmpList})
										<option value="$!{pdfTempl.id}"  #if($!{receiptTemplateId}==$!{pdfTempl.id}) selected="selected" #end>$!{pdfTempl.Name}</option>
										#end
									</select>
								</div>
							</div><br/><br/> 
							
						</fieldset>	
						
						
						
						
						<fieldset>
							
							<legend><h3>项目附件</h3></legend>
							<div class="jqtransform jqtransform-select3" style="padding-left:100px;">
								#if($list.size()!=0)
    								#foreach($attachmentModuleTypeInfo in $list)
										#if("LOAN_MANAGEMENT"==${attachmentModuleTypeInfo.moduleType.code})
                							<h2>项目证照</h2>
                							<div class="b-border pro-info" style="overflow: hidden;">
                							#foreach($attachmentInfo in $attachmentModuleTypeInfo.attachmentInfos)
        										<div style="position:relative;width:50px;height:50px;margin:5px; display: block; float:left;">
                    								<img style="width:50px;height:50px;"attachmentId="$!attachmentInfo.attachmentId" filePhysicalPath="$!attachmentInfo.filePhysicalPath" requestPath="$!attachmentInfo.requestPath" src='$!attachmentInfo.requestPath'/>
        										</div>
                							#end		
											</div>
										#elseif("OTHER"==${attachmentModuleTypeInfo.moduleType.code})
											<!--
        										<h2>融资证照</h2>
                    							<div class="b-border pro-info" style="overflow: hidden;">
                    							#foreach($attachmentInfo in $attachmentModuleTypeInfo.attachmentInfos)
            										<div style="position:relative;width:50px;height:50px;margin:5px; display: block; float:left;">
                        								<img style="width:50px;height:50px;"attachmentId="$!attachmentInfo.attachmentId" filePhysicalPath="$!attachmentInfo.filePhysicalPath" requestPath="$!attachmentInfo.requestPath" src='$!attachmentInfo.requestPath'/>
            										</div>
    											#end
    											</div>
											-->
										#end	
									#end
								#else
									<h2>暂无数据</h2>
								#end	
                            
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>	
	<script type="text/javascript">
    	var $_GLOBAL = {};
    </script>
	<script type="text/javascript" src="/resources/js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/sea.js"></script>
	<script type="text/javascript" src="/resources/js/datepicker/WdatePicker.js"></script>
	<script type="text/javascript" src="/resources/js/xheditor/xheditor-1.2.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/xheditor/xheditor_lang/zh-cn.js"></script>
	<script type="text/javascript">
    	seajs.use($_GLOBAL.mode + 'addLoanDemand');
		if($('[name=userType]').val()=="GR"){
			$('.qiYe').hide();
			$('.geRen').show();
		
		}else if($('[name=userType]').val()=="JG"){
							$('.qiYe').show();
							$('.geRen').hide();
		}

            #if($!{useGiftMoneyAmount})
            var useGiftMoneyAmount = new Array();
                #foreach($a in   $!{useGiftMoneyAmount}){
                    useGiftMoneyAmount.push($a);
                }
                #end
            var investGiftMoneyAmount = new Array();
                #foreach($a in $!{investGiftMoneyAmount}){
                    investGiftMoneyAmount.push($a);
                }
                #end
            var htmlText ="";
            for(var i=0;i<useGiftMoneyAmount.length;i++){
                htmlText = htmlText +    '<div class="rule_xx">  投资满 <input type="text" class="mask_money" name="investGiftMoneyRule" value="'+investGiftMoneyAmount[i]+'"/> 元 使用'
                        +'<input type="text"  class="mask_money"  name="useGiftMoneyRule" value="'+useGiftMoneyAmount[i]+'"/> 元 &nbsp;&nbsp; <span><a href="javascript:;" class="fn-del">删除</a></span> <br><br></div>'
            }

            $("#div_rule").after(htmlText);
            $(".fn-del").bind("click",function(){
                $(this).closest("div.rule_xx").remove();
            });
            #end
		
    </script>
</body>
</html>