<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link type="text/css" href="/styles/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="/resources/mjr/css/global.css">
	<link rel="stylesheet" href="/resources/mjr/css/common.css">
	<script src="/resources/mjr/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/resources/mjr/js/kkpager.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/resources/mjr/js/laydate.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="usercenter">
	<!-- include siteNav module, adjusted according to your needs -->
	#parse("/front/index/common/header-mjr.vm")
	<!-- end include -->

	<div class="md-showcase">
		<div class="md-sc-static"></div>
	</div>

	<div class="md-module">
		<div class="md-default-c pc-width padding-fix clearf">
			<div class="u-c clearf">
				#parse("/front/common/user-menu-top.vm")
				<div class="menu grid">
					#parse("/front/common/user-menu.vm")
				</div>
				<div class="context grid">

				<!-- 交易明细 -->
					 <h4>交易明细</h4>
					<div class="info-f1 case-simple f-l">
						<div class="case-simple-list solid-right-border clearf">
							<span class="case-title">账户可用余额</span>
							<span class="case-num">￥$!{yjfAccountInfo.availableBalance.toStandardString()}</span>
						</div>
						
					</div>
					<div class="invest-c clearf">
						
						
                                <a $!selectedbalance href="/userManage/balanceChangeRecord">收支明细</a>
                                <a $!selectedrecharge href="/userManage/rechargeRecord">充值记录</a>
                                <a $!selectedwithdraw href="/userManage/withdrawRecord">提现记录</a>
                        </div>
							<iframe frameborder="0" width="720" height="900" scrolling="no" src="$!iframeUrl"></iframe>
						</div>
						
						
					</div>
				<!-- 交易明细end -->
				
				

				</div>
			</div>
		</div>
	</div>
	
	
	
	<!-- include foot module, adjusted according to your needs -->
	#parse("/front/index/common/footer-mjr.vm")
	<!-- end include -->
	
</body>
</html>