<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>在线预览</title>
</head>
<style type="text/css">
	.frame {
        width: 960px;
        margin: 0 auto;
        color: #666;
        position: relative;
    }
</style>
<body class="frame">
	<div class="frame">
		$!{dataInfo}
	</div>	
</body>
</html>